export DB_NAME_DEV='foo_dev'
export DB_NAME_TEST='foo_test'
export DB_NAME_PROD='foo_prod'
export DB_USER='root'
export DB_PASS='pass'
export DB_HOST='127.0.0.1'
export DB_PORT=3306
export TZ='Asia/Tokyo'